<!DOCTYPE   html>
<html>
    <head>
        <title>KISHAN BANK</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="images/bank logo.jpg">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/homepage.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
    <nav class="navbar">
      <div class="banklogo">
        <h1 class="bname">ABC BANK</h1>
        <img style="border-radius: 12px;" src="images/bank logo.jpg" alt="bank logo">
      </div>
      
      <div class="navlinks">
          <a href="/" class="navlink">Home</a>
          <a href="/customers" class="navlink">View Customers</a>
          <a href="/transaction" class="navlink">View Transactions</a>
      </div>
    </nav>
      <div class="bank">
        <h1 class="bankname">Welcome to ABC BANK</h1>
        <img src="images/bank.png">
      </div>
        <div class="features">
          <div>
            <img src="images/transfer1.jpg" class="image1">
            <p class="image1details">Transfer Money</p> 
          </div>
          <div>
            <img src="images/transaction.jpg" class="image2">
            <p class="image2details">Transaction History</p>
          </div>
        </div>
        <footer class="footer">
          @Copyright 2024 Creator: Kishan
        </footer>
    </body>
</html>